
.resizable {
    min-width: 0.8rem;
    background-color: #dee2e6;
    cursor: col-resize;
    position: relative;
    transition: all .5s;
    border-radius: 2px;
    
    &:hover,&:active {
        background-color: #868e96;
    }

    &_svgBox {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45%;
        left: 3px;
    }
 }

 .CSScontroll {
    flex: 1;
}
