.CodeContainer-Cover {
    display: flex;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.heightResizable {
    border-radius: 2px;
    background-color: #dee2e6;
    min-height: 0.8rem;
    position: relative;
    transition: all .5s;
    cursor: row-resize;
    &:active,&:hover {
        background-color: #868e96;
    }
    
    .heightresizable_svgBox {
        position: absolute;
        top: 25%;
        left: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.IfrContainer {
    height: 585px;
}