@import url("https://fonts.googleapis.com/css?family=Staatliches");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
* {
    margin:0;
    padding:0;
}
$fontStaat:'Staatliches';
$fontWork : 'Work Sans';
