.sNsBox {
    width: 70%;
    background-color: white;
    border: 2px solid dodgerblue;
    border-radius: 25px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    input {
        width: max-content;
        border:none;
    }
}