
.btn {
    border: none;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

.signUp {
    font-weight:600;
    color: white;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}


  .dodgerblue {
      background-color: dodgerblue;
  }