.FeatureList{ 
    display: flex;
    &_Box {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all .4s;
        &:hover {
            background-color: rgba(211, 211, 211,0.9);
        }
    }
}
.saveColor {
    color: white;
}
.mobileMenuColor {
    color: #69f0ae ;
}
.menuBox {
    z-index: 40;
    position: relative;
    cursor: pointer;
    display: none;
    
    margin: 0 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .4s;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:10px;
    }

    &_menu {
        display: none;
        position: absolute;
        
        left:-5px;
        bottom:-240px;
    }
    &:hover ul {
        display:block;
    }
    &:active ul {
        display:block;
    }
    
    .menuItem {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: all .4s;
        &:hover {
            background-color: rgba(211, 211, 211,0.9);
        }
    }
}

@media screen and (max-width: 680px) {
    .FeatureList_Box {
        display: none;
    }
    .menuBox {
        display: block;
    }
}