.postedList {
    min-height: 100vh;
    background-color: #eeeeee;
    
    &__home {
        height: 70px;

        background-image: linear-gradient(to right bottom, #7aabf9, #ff7d59);
        // background-color: dodgerblue;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        & > a {
            color: white;
            font-size:2rem;
            font-weight: 600;
            text-decoration: none;
        }
        .backBtn {
            color: white;
            position: absolute;
            top: 20px; 
            left: 10px;
            cursor: pointer;
        }
    }
    &__footer {
        height: 5rem;
        background-image: linear-gradient(to right bottom, #7aabf9, #ff7d59);
        // background-color: dodgerblue;
    }
}

.postItem {
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: 5px;
    width: 30rem;
    padding: 1rem;
    margin: 3rem auto;
    background-color: white;    
    animation-name: projectItem;
    animation-duration: 1s;
    animation-iteration-count: 1;
    & > a {
        text-decoration: none;
        color: black;
    }

    &__Title {
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #ffccbc ;
        font-size: 1.7rem;
        font-weight: 500;
    }

    &__Creator {
        font-size: 0.8rem;
        color: grey;
        text-align: right;
    }


    &__Bottom {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;

        .starNum {
            margin-left: 0.5rem;
            font-size: 1.5rem;
        }

        & > a {
            text-decoration: none;
            color: grey;
        }
    }
}

.ENTER-enter {
    opacity: 0.1;
    transform: translateX(-300px);
}
.ENTER-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease;
}

@keyframes projectItem {
    from {
        opacity: 0.1;
        transform : translateX(-300px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.NostarColor {
    color: grey;
    font-size : 1.5rem;
    cursor: pointer;
    transition: color .3s;
    &:hover {
        color: #ffea00;
    }
}
.starColor2 {
    color: #ffea00;
}

@keyframes starClick{
    from {
        font-size: 3px;
    }

    to {
        font-size: 40px;
    }
}