.postedList {
    min-height: 100vh;
    background-color: #fafafa;
    
    &__home {
        height: 70px;
        background-color: dodgerblue;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        & > a {
            color: white;
            font-size:2rem;
            font-weight: 600;
            text-decoration: none;
        }
        .backBtn {
            color: white;
            position: absolute;
            top: 20px; 
            left: 10px;
            cursor: pointer;
        }
    }
    &__footer {
        height: 5rem;
        background-color: dodgerblue;
    }
}

.postItem {
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border: 4px solid #ce93d8;
    border-radius: 5px;
    width: 30rem;
    padding: 1rem;
    margin: 3rem auto;
    

    & > a {
        text-decoration: none;
        color: black;
    }

    &__Title {
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #c5cae9;
        font-size: 1.5rem;
        font-weight: 500;
        
        
    }
    &__Bottom {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;

        .starNum {
            margin-left: 0.5rem;
            font-size: 1.5rem;
        }

        & > a {
            text-decoration: none;
            color: grey;
        }
    }

    
}